@page
@model UserViewRazorPages.Pages.Dangptm.LoginModel
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Login</h1>
            <form method="post" class="my-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label">Email</label>
                    <input asp-for="User.Email" class="form-control" required="true" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Password" class="control-label">Password</label>
                    <input asp-for="User.Password" class="form-control" required="true" type="password" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-danger">
                    @ViewData["notification"]
                </div>
                <div class="form-group text-center">
                    <button method="post"  asp-page-handler="login" type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <div class="text-center">
                <p>Do you a admin? <a asp-page="./LoginAdmin">Login admin here</a></p>
            </div>
            <div class="text-center">
                <p>Don't have an account? <a asp-page="./PreRegister">Register here</a></p>
            </div>
        </div>
    </div>
</div>