@page
@model UserViewRazorPages.Pages.Dangptm.UpdateUserModel
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Registration</h1>
            <form method="post" class="my-4" style="text-align: left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.UserId" />
                <input type="hidden" asp-for="User.FamilyId" />
                <input type="hidden" asp-for="User.Status" />
                <input type="hidden" asp-for="User.Code" />
                <input type="hidden" asp-for="User.Img" />
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label">Email</label>
                    <input asp-for="User.Email" class="form-control" required="true" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label">Full Name</label>
                    <input asp-for="User.Name" class="form-control" required="true" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Password" class="control-label">Password</label>
                    <input asp-for="User.Password" class="form-control" required="true" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Gender" class="control-label">Gender</label><br />
                    <label for="option1">Male</label>
                    <input type="radio" id="option1" name="selectedOption" value="Male" @(Model.User?.Gender == true ? "checked" : "")>

                    <label for="option2">Female</label>
                    <input type="radio" id="option2" name="selectedOption" value="Female" @(Model.User?.Gender == false ? "checked" : "")>
                </div>
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="User.PhoneNumber" class="form-control" required="true" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Birthday" class="control-label">Birthday</label>
                    <input asp-for="User.Birthday" class="form-control" required="true" />
                    <span asp-validation-for="User.Birthday" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="User.FamilyId" class="control-label"></label>
                <select asp-for="User.FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
                <span asp-validation-for="User.FamilyId" class="text-danger"></span>
                </div>*@
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="form-group text-danger">
                    @ViewData["notification"]
                </div>
            </form>
        </div>
    </div>
</div>