@page
@model UserViewRazorPages.Pages.Bodt.AddFirstUserModel
@{
}

<hr />
<div class="row">
    <div class="col-md-9">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="@Model.FamilyId" type="hidden" />
            <p>You are the first one in the family tree;</P>    
            <p>everyone else is dependent on you.</p>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" required/>
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" required/>
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" required/>
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div>
                <input type="file" name="imageFile" accept="image/*" /></br>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label">Gender</label><br />
                <label for="selectedGender">Male</label>
                <input type="radio" id="option1" name="selectedGender" value="Male" checked>

                <label for="selectedGender">Female</label>
                <input type="radio" id="option1" name="selectedGender" value="Female">
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Birthday" class="control-label"></label>
                <input asp-for="User.Birthday" class="form-control" />
                <span asp-validation-for="User.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
