@page
@model UserViewRazorPages.Pages.Bodt.RelationModel
<form method="post">
    <label for="option1">Is husband/wife of a user</label>
    <input type="radio" id="option1" name="selectedOption" value="Option1" checked>

    <label for="option2">Is a child of a user</label>
    <input type="radio" id="option2" name="selectedOption" value="Option2">

    <button type="submit">Next</button>
</form>