@page
@{
    ViewData["Title"] = "Choose Relationship";
    Layout = "_UserLayout";
}
@model UserViewRazorPages.Pages.Bodt.RelationModel
<form method="post">
    <input type="radio" id="option1" name="selectedOption" value="Option1" checked>
    <label for="option1">Is husband/wife of a user</label>

    <input type="radio" id="option2" name="selectedOption" value="Option2">
    <label for="option2">Is a child of a user</label>

    <button type="submit">Next</button>
</form>