@page
@model UserViewRazorPages.Pages.Bodt.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_UserLayout";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <input type="hidden" asp-for="User.FamilyId" />
            <input type="hidden" asp-for="User.Status" />
            <input type="hidden" asp-for="User.Code" />
            <input type="hidden" asp-for="@Model.image" />
            <img src="/@Model.User.Img" alt="User Image" style="width:200px; height:250px">
                <div>
                    <input type="file" name="imageFile" accept="image/*" />
                </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input type="password" asp-for="User.Password" class="form-control" required />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input type="password" type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label">Gender</label><br />
                <label for="option1">Male</label>
                <input type="radio" id="option1" name="selectedGender" value="Male" @(Model.User.Gender.GetValueOrDefault() ? "checked" : "")>

                <label for="option2">Female</label>
                <input type="radio" id="option2" name="selectedGender" value="Female" @(Model.User.Gender.GetValueOrDefault() ? "" : "checked")>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Birthday" class="control-label"></label>
                <input asp-for="User.Birthday" class="form-control" />
                <span asp-validation-for="User.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Bodt/MainPage">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
